<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\sistema\SRI\resources\views\css\stlye.css" />
</head>

<body>

    <div class="container">
        <header>
            <nav>
                <div class="barra-de-navegacao">
                    <a href="index.html">
                        <center><img id="logo" src="C:\sistema\SRI\resources\views\css\sri.png" alt="S.R.I"></center>
                    </a>
                </div>
            </nav>
        </header>
    </div>

    <br><br><br><br>

    <center>
        <form action="{{ route('login')}}" method='POST'>
        <div class="content">
            <div id="login">
                <h1>Login</h1>
                <p>
                    <input id='login' name='email' required='required' type='email' placeholder='Email' />
                </p>
                <p> <input id='password' name='password' required="required" type='password' placeholder='Senha' /></p>
                
                <p>
                    <a href="{{route('principal')}}">
                        <input type="submit" value="Logar" />
                    </a>
                </p>
            </form>
                <p class="link">
                    Não tem conta?
                    <a href="{{route('registro')}}">Cadastre-se</a>
                </p>
            </div>
        </div>
    
    </center>
</body>

</html>