<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="stlye.css"/>
    <title> SRI </title>
</head>

<body>
  <div class="container">
      <header>
          <nav>
              <div class="barra-de-navegacao">
                  <a href="index.html">
                      <img id="logo" src="css\sri.png" alt="S.R.I">
                  </a>
                  <ul>
                      <li><a href="pagina_principal.html">Inicio</a></li>
                      <li><a href="#">Incidentes Resolvidos</a></li>
                      <li><a href="pagina_reporte.html">Registrar Incidente</a></li>
                      <li><a href="pagina_perfil.html">perfil</a></li>
                  </ul>
              </div>
          </nav>
      </header>
  </div> 
    
       
    <br></br><br> </br>
    
    <div class="absolute">
        <button type="button"  class="btn btn-secondary">
        Em alta
        </button>
        <button type="button" class="btn btn-secondary">
        Novos
        </button>
        <button type="button" class="btn btn-secondary" >
        Mais Votados
        </button>

    <br></br>
        
    <div class="card">
        <h5 class="card-header">Titulo do Incidente #1</h5>
        <div class="card-body">
          <p class="card-text">Descrição do incidente 1.</p>
          <a href="#" class="btn btn-primary">UP</a>
        </div>
      </div>

    <br> </br>
        
    <div class="card">
        <h5 class="card-header">Titulo do Incidente #2</h5>
        <div class="card-body">
          <p class="card-text">Descrição do incidente 2.</p>
          <a href="#" class="btn btn-primary">UP</a>
        </div>
      </div>

<br> </br>

<div class="card">
    <h5 class="card-header">Titulo do Incidente #3</h5>
    <div class="card-body">
      <p class="card-text">Descrição do incidente 3</p>
      <a href="#" class="btn btn-primary">UP</a>
    </div>
  </div>
</div>
</body>
</html>