<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
</head>

<body>

    <div class="container">
        <header>
            <nav>
                <div class="barra-de-navegacao">
                    <a href="index.html">
                        <center><img id="logo" src="sri.png" alt="S.R.I"></center>
                    </a>
                </div>
            </nav>
        </header>
    </div>

    <br><br><br><br>

    <center>

        <div id="cadastro">

            <h1>Cadastro</h1>

            <p>
                <input id="name_cad" name="name_cad" required="required" type="text" placeholder="Nome completo" />
            </p>

            <p>
                <input id="email_cad" name="email_cad" required="required" type="email" placeholder="E-mail" />
            </p>

            <p>
                <input id="matricula_cad" name="matricula_cad" required="required" type="matricula" placeholder="Numero de matricula" />
            </p>

            <p>
                <input id="password_cad" name="password_cad" required="required" type="password" placeholder="Senha" />
            </p>

            <p>

                <a href="Login.html">
                    <input type="submit" value="Cadastrar" />
                </a>
            </p>

            <p class="link">

                Ja tem conta?
                <a href="Login.html"> Clique aqui</a>
            </p>

            <p class="link">

                <a href="mailto: abc@example.com">
                    esqueceu sua senha?
                </a>
            </p>

        </div>
    </center>
</body>

</html>