<!DOCTYPE html>

<html>
    <head>
        <a>
            <img src="Potato.png" alt="Potato" width="56" height="44">
            Batata

            <button style="background:#3630a3; color:white;"
            onclick="alert ('Retornando')">
            Inicio
            </button>

            <button style="background:#a33030; color:white;"
            onclick="alert('Conta Fechada com sucesso')">
            Logout
            </button>
        </a>
    </head>


    <body>
        <a>
            <br>

            <fieldset>
                <center>
                    <img src="Perfil.png" alt="Perfil" width="200" height="200">
                </center>
    
                <br>
    
                <center>
                    NickName<br>
                </center>
    
                <br>
    
                <center>
                    email@email.com<br>
                </center>
            </fieldset>

            <br>

            <fieldset>
                <center>
                    <h2>
                        Seus Reportes<br>
                    </h2>
                </center>
    
                <br>
    
                <b><h3>Titulo abc</h3></b> 
                <h4>descrição</h4>
    
                <img src="Galeria.png" alt="Galeria" width="200" height="200">
    
                <b><h3>Titulo dfg</h3></b> 
                <h4>descrição2</h4>
    
                <img src="Galeria.png" alt="Galeria" width="200" height="200">
            </fieldset>

        </a>
    </body>

</html>